language: python
python:
    - 2.7
    - 3.4
    - 3.5
script:
    - pip install coveralls pytest-cov
    - pip install -r requirements.txt
    - pip install -r test-requirements.txt
    - pip install -e .
    - py.test --cov=httsleep tests/
after_success:
    - coveralls
os:
    - linux
