language: python
python:
    - 2.7
    - 3.4
    - 3.5
script:
    - pip install -r requirements.txt
    - pip install -r test-requirements.txt
    - pip install .
    - py.test
os:
    - linux
    - osx
